@for $fontSize from 14 through 32 {
   .fs-#{$fontSize} {
      font-size: #{$fontSize}px !important;
   }
}

@for $matIconSize from 20 through 32 {
   mat-icon.icon-size-#{$matIconSize} {
      font-size: #{$matIconSize}px !important;
      line-height: #{$matIconSize}px !important;
      height: #{$matIconSize}px !important;
      width: #{$matIconSize}px !important;
   }
}

@for $i from 1 through 6 {
   h#{$i} {
      font-weight: 400;
      font-family: 'Roboto', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
         Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
      color: var(--primary-text-color);
   }
}
