.default-page {
  background: linear-gradient(135deg, #058d60, #087c8d);
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  user-select: none;
  padding-bottom: 36px;
}

.content-wrapper {
  padding: 24px;
  text-align: center;
  color: #fff;

  h1 {
    font-size: 180px;
    font-weight: 500;
    line-height: 200px;
    letter-spacing: 5px;
    font-family: "Poppins", Roboto, Arial, Helvetica, sans-serif;
    text-shadow: 3px 2px 9px #00000021;
  }
  p {
    font-size: 20px;
    margin-bottom: 36px;
  }

  button {
    border-radius: 50px;
    padding: 4px 36px;
    font-size: 15px;
    text-transform: uppercase;
    border-color: #ffffff42;
  }
}

@media (max-width: 600px) {
  .content-wrapper {
    h1 {
      font-size: 120px;
      line-height: 120px;
    }
    p {
      margin: 16px 0 30px;
      font-size: 18px;
    }
  }
}
