{
  "singleQuote": true,
  "printWidth": 100,
  "semi": true,
  "trailingComma": "es5",
  "arrowParens": "always",
  "bracketSpacing": true,
  "cursorOffset": -1,
  "embeddedLanguageFormatting": "auto",
  "endOfLine": "lf",
  "htmlWhitespaceSensitivity": "css",
  "insertPragma": false,
  "tabWidth": 2,
  "useTabs": false,
  "overrides": [
    {
      "files": "*.scss",
      "options": {
        "tabWidth": 3
      }
    }
  ]
}
