<main class="home-page">
  <!-- Section top -->
  <section class="section-top" #upperSection>
    <h1 class="primary-heading" aria-label="Primary heading The Noble Quran">
      <svg-icon class="flex" icon="primary_heading"></svg-icon>
    </h1>
    <h2 class="secondary-heading" aria-label="Secondary heading The Noble Quran">
      The Noble Quran
    </h2>
    <div class="toolbar">
      <theme-picker></theme-picker>
    </div>
  </section>

  <!-- Bottom Section -->
  <section class="section-bottom" [class.expanded]="!upperSectionVisible">
    <!-- Tab NavBar -->
    <nav
      #tabNavBar
      mat-tab-nav-bar
      focusOnNavigation
      aria-label="Quran Indexes"
      mat-align-tabs="center"
    >
      <a
        mat-tab-link
        *ngFor="let section of sections"
        [routerLink]="section.path"
        [replaceUrl]="true"
        [active]="section.path == activeSection.path"
        >{{ section.label }}</a
      >
    </nav>
    <!-- Tab Views -->
    <router-outlet></router-outlet>
  </section>

  <!-- Back to top button -->
  <button
    aria-label="Back to top"
    name="Back to top button"
    class="back-to-top"
    matTooltip="Back to top"
    [class.visible]="!upperSectionVisible"
    (click)="backToTop()"
  >
    <svg-icon icon="arrow_upward"></svg-icon>
  </button>
</main>
