<footer>
  <div class="offline-indicatior" *ngIf="!(_net.isOnline | async)"></div>
  <div class="center">
    <!-- 
         <button mat-icon-button aria-label="Start auto scroll">
           <material-icon class="icon-size-27">text_rotate_vertical</material-icon>
         </button> -->

    <button
      mat-icon-button
      aria-label="Play previous ayah"
      (click)="_audio.skipToPreviousAyah()"
      [disabled]="(_audio.currentAyahId | async) === ayahRange.start"
    >
      <material-icon [size]="27">skip_previous</material-icon>
    </button>

    <ng-container *ngIf="!(_audio.isCompleted | async)">
      <mat-spinner
        *ngIf="(_audio.isBuffering | async) && (_audio.isPlaying | async)"
        [diameter]="40"
      ></mat-spinner>
      <button
        mat-icon-button
        (click)="_audio.playPause()"
        [ngSwitch]="_audio.isPlaying | async"
        [attr.aria-label]="(_audio.isPlaying | async) ? 'Pause' : 'Play'"
      >
        <material-icon [size]="28" *ngSwitchCase="true"> pause </material-icon>
        <material-icon [size]="28" *ngSwitchCase="false"> play_arrow </material-icon>
      </button>
    </ng-container>
    <button mat-icon-button (click)="_audio.replaySession()" *ngIf="_audio.isCompleted | async">
      <material-icon [size]="28"> replay </material-icon>
    </button>

    <button
      mat-icon-button
      aria-label="Play next ayah"
      (click)="_audio.skipToNextAyah()"
      [disabled]="(_audio.currentAyahId | async) === ayahRange.end"
    >
      <material-icon [size]="27">skip_next</material-icon>
    </button>

    <!-- <button mat-icon-button>
      <material-icon class="icon-size-24"> language </material-icon>
    </button> -->

    <!-- <mat-slide-toggle (change)="autoScrollChange($event)" color="primary"></mat-slide-toggle> -->
  </div>
</footer>
