@font-face {
  font-family: "Myriad";
  font-style: normal;
  font-weight: 400;
  src: url("./myriad-arabic.ttf");
  font-display: swap;
}

@font-face {
  font-family: "Indopak";
  font-style: normal;
  font-weight: 400;
  src: url("./indopak.woff2");
  font-display: swap;
}
