<!-- Header -->
<read-header
  [menuList]="menuList"
  [currentMenuItemIndex]="currentMenuItemIndex"
></read-header>

<!-- Progress bar -->
<mat-progress-bar mode="indeterminate" *ngIf="!readyToShowAyahs"></mat-progress-bar>

<!-- All ayahs to render -->
<div
  *ngIf="idb.dbReady | async"
  class="container"
  [class.not-ready]="!readyToShowAyahs"
  [class.page-view]="settings.renderAsPage | async"
>
  <ayah-renderer
    *ngFor="let ayahId of ayahsToRender; let ayahIndex = index"
    [ayahId]="ayahId"
    [ayahIndex]="ayahIndex"
    (onStateChange)="handleAyahStateChange($event)"
  ></ayah-renderer>
</div>

<!-- Intersection Observer -->
<div class="observer" #observer>
  <ng-container *ngIf="!allAyahsRendered && readyToShowAyahs">
    <button mat-stroked-button (click)="appendAyahs()">Load More</button>
  </ng-container>
</div>

<!-- Toolbar -->
<nq-read-toolbar [ayahRange]="ayahRange"></nq-read-toolbar>
