<!-- Header -->
<read-header [menuList]="menuList" [currentMenuItemIndex]="currentMenuItemIndex"></read-header>

<!-- Progress bar -->
<mat-progress-bar mode="indeterminate" *ngIf="renderingAyahs"></mat-progress-bar>

<!-- Error card -->
<mat-card class="error-card" *ngIf="renderError">
  <mat-card-header>
    <mat-card-title class="fs-26">Oops!</mat-card-title>
    <mat-card-subtitle>Something went wrong while rendering.</mat-card-subtitle>
  </mat-card-header>
  <mat-card-actions>
    <button mat-stroked-button color="primary" (click)="reloadPage()">Reload page</button>
    <!-- Will enable after integration of Google Analytics -->
    <!-- <button mat-stroked-button color="secondary">Report</button> -->
  </mat-card-actions>
</mat-card>

<!-- Container for AyahRendererComponents -->
<!-- *ngIf="idb.dbReady | async" -->
<div
  class="container"
  [class.not-ready]="!readyToShowAyahs"
  [class.page-view]="settings.renderAsPage | async"
>
  <ayah-renderer
    *ngFor="let ayahId of ayahsToRender; let ayahIndex = index"
    [ayahId]="ayahId"
    [ayahIndex]="ayahIndex"
    (onStateChange)="handleAyahStateChange($event)"
  ></ayah-renderer>
</div>

<!-- Intersection Observer -->
<div class="observer" [class.all-rendered]="allAyahsRendered" #observer>
  <ng-container *ngIf="!allAyahsRendered && readyToShowAyahs">
    <button tabindex="-1" mat-stroked-button (click)="appendAyahs()">Load More</button>
  </ng-container>
</div>

<!-- Toolbar -->
<read-toolbar *ngIf="readyToShowAyahs" [ayahRange]="ayahRange"></read-toolbar>
