.observer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  button {
    margin: 32px;
    border-radius: 50px;
  }
}

.not-ready {
  visibility: visible;
  opacity: 0;
  max-height: 0px;
  overflow: hidden;
}

.container {
  display: block;
  width: 100%;
  max-width: 100%;
  margin: 64px auto;
}

@media (max-width: 600px) {
  .container {
    margin: 56px auto;
  }
}
