<read-header
  [menuList]="menuList"
  [currentMenuItemIndex]="currentMenuItemIndex"
></read-header>

<mat-progress-bar mode="indeterminate" *ngIf="!ready"></mat-progress-bar>

<ng-container *ngIf="idb.dbReady | async">
  <div
    class="container"
    [class.not-ready]="!ready"
    [class.page-view]="settings.renderAsPage | async"
  >
    <ayah-renderer
      *ngFor="let ayah of ayahsToRender; let i = index"
      [ayahId]="ayah"
      [ayahIndex]="i + 1"
      (onStateChange)="handleAyahStateChange($event)"
    ></ayah-renderer>
  </div>
</ng-container>

<!-- Intersection Observer -->
<div class="observer" #observer>
  <ng-container *ngIf="!complete && ready">
    <button mat-stroked-button (click)="appendAyahs()">Load More</button>
  </ng-container>
</div>
