<button
  mat-icon-button
  [matTooltip]="
    (themeService.theme | async) == darkThemeClass
      ? 'Switch to light theme'
      : 'Switch to dark theme'
  "
  aria-label="Switch Theme"
  (click)="themeService.toggleTheme()"
>
  <ng-container *ngIf="(themeService.theme | async) == darkThemeClass">
    <nq-icon icon="brightness_high"></nq-icon>
  </ng-container>

  <ng-container *ngIf="(themeService.theme | async) != darkThemeClass">
    <nq-icon icon="nights_stay"></nq-icon>
  </ng-container>
</button>
