header {
   // Preloading Arabic font
   &::after {
      position: absolute;
      content: 'بِسْمِ اللَّهِ الرَّحْمَٰنِ الرَّحِيمِ';
      font-family: 'Indopak';
      color: transparent;
      pointer-events: none;
   }

   .back-btn {
      display: none;
   }

   .home-link,
   button {
      text-decoration: none;
      cursor: pointer;
      font-family: Roboto, Arial, Helvetica, sans-serif;
      font-size: 1.6rem;
      font-weight: 500;
      user-select: none;
      padding: 0 0.8rem;
      color: var(--primary-text-color);
   }

   .home-link {
      font-family: Jost, Arial, Helvetica, sans-serif;
      font-size: 1.8rem;
      font-weight: 450;
      height: 80%;
      display: flex;
      align-items: center;
      justify-content: center;
   }
}

@media (max-width: 600px) {
   header {
      .back-btn {
         display: block;
      }

      .left a {
         display: none;
      }
   }
}
