<header class="header fixed">
  <div class="left">
    <!-- Only visible on medium screens -->
    <a href="/" class="home-link" [class.faded]="faded | async" (click)="navigateToHome($event)">
      Noble Quran
    </a>
    <!-- Only visible on small screens -->
    <button class="back-btn" mat-icon-button (click)="navigator.navigateToHome()">
      <material-icon>arrow_back</material-icon>
    </button>
  </div>
  <div class="right">
    <button
      mat-button
      #navMenuTrigger
      [class.open]="menuOpen"
      (menuClosed)="menuOpen = false"
      (menuOpened)="menuOpen = true"
      [matMenuTriggerFor]="navMenu"
    >
      {{ menuList[currentMenuItemIndex]?.title }}
      <material-icon>arrow_drop_down</material-icon>
    </button>
    <mat-menu #navMenu="matMenu" xPosition="before">
      <button
        mat-menu-item
        [replaceUrl]="true"
        [disableRipple]="true"
        [routerLink]="menuListItem.link"
        routerLinkActive="list-item-active"
        *ngFor="let menuListItem of menuList"
      >
        {{ menuListItem.title }}
      </button>
    </mat-menu>
  </div>
</header>
