<header>
  <div class="left">
    <button class="back-btn" mat-icon-button (click)="goBack()">
      <mat-icon>arrow_back</mat-icon>
    </button>
    <h1 routerLink="/">Noble Quran</h1>
  </div>
  <div class="right">
    <button
      class="menu-trigger"
      mat-button
      #navMenuTrigger
      (menuClosed)="menuOpen = false"
      (menuOpened)="menuOpen = true"
      [matMenuTriggerFor]="navMenu"
      [class.menuOpen]="menuOpen"
    >
      {{ menuList[currentMenuItemIndex]?.title }}
      <svg-icon icon="arrow_drop_down"></svg-icon>
    </button>
    <mat-menu #navMenu="matMenu" xPosition="before">
      <button
        *ngFor="let menuListItem of menuList"
        [routerLink]="menuListItem.link"
        routerLinkActive="list-item-active"
        [replaceUrl]="true"
        mat-menu-item
      >
        {{ menuListItem.title }}
      </button>
    </mat-menu>
  </div>
</header>
