<button
  mat-ripple
  matRippleColor="#ffffff30"
  class="theme-picker"
  tabindex="-1"
  [matTooltip]="
    (themeService.theme | async) == darkThemeClass
      ? 'Switch to light theme'
      : 'Switch to dark theme'
  "
  aria-label="Switch Theme"
  (click)="themeService.toggleTheme()"
>
  <ng-container *ngIf="(themeService.theme | async) == darkThemeClass">
    <svg-icon icon="brightness_high"></svg-icon>
  </ng-container>

  <ng-container *ngIf="(themeService.theme | async) != darkThemeClass">
    <svg-icon icon="nights_stay"></svg-icon>
  </ng-container>
</button>
