.theme-picker {
   cursor: pointer;
   background: transparent;
   height: 44px;
   width: 44px;
   display: flex;
   align-items: center;
   justify-content: center;
   border-radius: 50%;
}

.theme-picker:hover {
   background: rgba(255, 255, 255, 0.15);
}
