<button
  mat-ripple
  class="theme-picker"
  matRippleColor="#ffffff30"
  [matTooltip]="
    (themeService.theme | async) == darkThemeClass
      ? 'Switch to light theme'
      : 'Switch to dark theme'
  "
  aria-label="Switch Theme"
  (click)="themeService.toggleTheme()"
>
  <ng-container *ngIf="(themeService.theme | async) == darkThemeClass">
    <material-icon>brightness_high</material-icon>
  </ng-container>

  <ng-container *ngIf="(themeService.theme | async) != darkThemeClass">
    <material-icon>nights_stay</material-icon>
  </ng-container>
</button>
