<footer>
  <div class="center">
    <button
      mat-icon-button
      aria-label="Play previous ayah"
      (click)="_audio.skipToPreviousAyah()"
      [disabled]="(_audio.currentAyahId | async) === ayahRange.start"
    >
      <mat-icon class="icon-size-27">skip_previous</mat-icon>
    </button>

    <ng-container *ngIf="!(_audio.isCompleted | async)">
      <mat-spinner *ngIf="_audio.isBuffering | async" [diameter]="40"></mat-spinner>
      <button
        mat-icon-button
        (click)="_audio.playPause()"
        [ngSwitch]="_audio.isPlaying | async"
        [attr.aria-label]="(_audio.isPlaying | async) ? 'Pause' : 'Play'"
      >
        <mat-icon class="icon-size-27" *ngSwitchCase="true"> pause </mat-icon>
        <mat-icon class="icon-size-27" *ngSwitchCase="false"> play_arrow </mat-icon>
      </button>
    </ng-container>
    <button
      mat-icon-button
      (click)="_audio.replaySession()"
      *ngIf="_audio.isCompleted | async"
    >
      <mat-icon class="icon-size-27"> replay </mat-icon>
    </button>
    <button
      mat-icon-button
      aria-label="Play next ayah"
      (click)="_audio.skipToNextAyah()"
      [disabled]="(_audio.currentAyahId | async) === ayahRange.end"
    >
      <mat-icon class="icon-size-27">skip_next</mat-icon>
    </button>
  </div>

  <!-- Experimetal feature for now - Auto scroll -->
  <div hidden class="right">
    <mat-slide-toggle
      (change)="handleAutoScrollChange($event)"
      color="primary"
    ></mat-slide-toggle>
  </div>
</footer>
