footer {
  position: fixed;
  bottom: 0px;
  left: 0px;
  min-height: 64px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 36px;
  background: var(--read-toolbar-background-color);
  border-top: 1px solid var(--primary-border-color);
  z-index: 1000;

  .mat-progress-spinner {
    display: unset;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
  }

  .right {
    margin-left: auto;
  }
}

@media (max-width: 600px) {
  footer {
    min-height: 56px;
    padding: 0 12px;
  }
}
