.mat-menu-item {
  height: 36px !important;
  font-size: 16px;
  line-height: 36px !important;
  padding-right: 8px !important;
}
.cdk-overlay-container .mat-menu-panel {
  overflow-x: hidden;
  border-radius: 8px;
  margin-top: 8px;
  max-height: 412px;
  background: var(--secondary-background-color);
}

.cdk-overlay-container .mat-menu-panel::-webkit-scrollbar {
  width: 5px;
}

.cdk-overlay-container .mat-menu-panel::-webkit-scrollbar-thumb {
  background: #dadce0;
  border-radius: 8px;
}

.cdk-overlay-container .mat-menu-panel::-webkit-scrollbar-track {
  border-radius: 8px;
}
