<div
  #positionDetector
  class="ayah-renderer"
  [class.playing]="isPlaying && (audioService.isPlaying | async)"
  [hidden]="!ayah"
>
  <ng-container *ngIf="ayah">
    <div class="ayah-text" *ngIf="ayah.arabicText">
      <span class="arabic-text">{{ ayah.arabicText }}</span>
      <div class="ayah-end" [attr.text]="ayah.numberInSurah | ArabicDecimal">
        <svg-icon class="flex" icon="ayah_end"></svg-icon>
      </div>
    </div>
    <div class="translation-text" *ngIf="ayah.translation">
      {{ !(settings.showAbsoluteAyahId | async) ? ayah.numberInSurah : ayahId }}.
      {{ ayah.translation }}
    </div>
  </ng-container>
</div>
