:host {
   --ar-font-size: 35;
}

.ayah-renderer {
    font-size: calc(var(--ar-font-size) * 1px);
    direction: rtl;
   padding: 25px 48px 35px;
   font-family: 'Indopak';
   color: var(--primary-text-color);
   -webkit-user-select: auto;
   -ms-user-select: auto;
   user-select: auto;
   letter-spacing: 0;
   line-height: 1.9;
   word-spacing: 2px;
   background: var(--ayah-renderer-background-color);
}

.ayah-renderer.playing {
   background-color: var(--active-ayah-renderer-background-color);
}

.arabic-text {
   font-family: 'Indopak';
}

.ayah-text.inline {
   display: inline;
   font-size: calc(var(--ar-font-size) * 1px);
}

.ayah-end {
   -webkit-user-select: none;
   -ms-user-select: none;
   user-select: none;
   position: relative;
   display: inline-block;
   height: 45px;
   width: 45px;
   transform: translate(-8%, 35%);

   &::after {
      content: attr(text);
      font-family: 'Indopak';
      color: var(--primary-stroke-color);
      font-size: 20px;
      line-height: 20px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -58%);
   }
}

.ayah-end.inline {
   margin: 0 12px;
}

.translation-text {
   word-spacing: 0;
   direction: ltr;
   font-size: 18px;
   font-family: Roboto;
   font-weight: 400;
   color: var(--secondary-text-color);
   margin-top: 25px;
   line-height: 1.5;
   margin-right: auto;
   width: -webkit-fit-content;
   width: -moz-fit-content;
   width: fit-content;
}

@media (max-width: 600px) {
   .ayah-end-box::after {
      transform: translate(-50%, -62%);
   }
   .ayah-renderer {
      padding: 18px 24px 20px;
   }
}
