.ayah-box {
  font-size: 35px;
  direction: rtl;
  padding: 20px 48px 35px;
  margin: 16px 0;
  font-family: "Indopak", "Material Icons";
  color: var(--primary-text-color);
  -webkit-user-select: auto;
  -ms-user-select: auto;
  user-select: auto;
  letter-spacing: 0;
  line-height: 1.9;
  word-spacing: 2px;
  background: var(--primary-background-color);
}

.ayah-text {
  font-family: "Indopak", "Material Icons";
}

.ayah-end-box {
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  position: relative;
  display: inline-block;
  height: 45px;
  width: 45px;
  transform: translate(-8%, 35%);

  &::after {
    content: attr(text);
    font-family: "indopak", "Material Icons";
    color: var(--primary-stroke-color);
    font-size: 20px;
    line-height: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -58%);
  }
}

.translation-text {
  word-spacing: 0;
  direction: ltr;
  font-size: 18px;
  font-family: Roboto;
  font-weight: 400;
  color: var(--secondary-text-color);
  margin-top: 25px;
  line-height: 1.5;
  margin-right: auto;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

@media (max-width: 600px) {
  .ayah-end-box::after {
    transform: translate(-50%, -62%);
  }
  .ayah-box {
    padding: 10px 24px 25px;
  }
}
