.use {
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid #dadce0;
}

.ayah-box {
  font-size: 35px;
  direction: rtl;
  padding: 10px 48px 25px;
  margin: 16px 0;
  font-family: "Indopak", "Material Icons";
  color: #000;
  -webkit-user-select: auto;
  -ms-user-select: auto;
  user-select: auto;
  letter-spacing: 0;
  line-height: 1.9;
  word-spacing: 2px;
}

.ayah-box.alternate {
  background: rgba(229, 234, 236, 0.3607843137254902);
}

.ayah-text {
  font-family: "Indopak", "Material Icons";
}

.ayah-end-box {
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  position: relative;
  display: inline-block;
  height: 45px;
  width: 45px;
  transform: translate(-6%, 35%);

  &::after {
    content: attr(text);
    font-family: "indopak", "Material Icons";
    color: #7c5e09;
    font-size: 20px;
    line-height: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -58%);
  }
}

.ayah-index-box {
  font-family: "indopak", "Material Icons";
  display: flex;
  align-items: center;
  justify-content: center;
  color: #7c5e09;
  font-size: 20px;
  transform: translateY(7%);
}

.ayah-icon-box {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.translation-text {
  word-spacing: 0;
  direction: ltr;
  font-size: 18px;
  font-family: Roboto;
  font-weight: 400;
  color: #252525;
  margin-top: 25px;
  line-height: 1.5;
  margin-right: auto;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

@media (max-width: 600px) {
  .ayah-end-box::after {
    transform: translate(-50%, -62%);
  }
  .ayah-box {
    padding: 10px 24px 25px;
  }
}
