// Top Section Starts
.section-top {
  min-height: 500px;
  background: var(--banner-background);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 50px;

  .toolbar {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 16px;
  }
}

.primary-heading {
  font-size: 80px;
  font-weight: 100;
  color: var(--primary-heading-color);
  direction: rtl;
  font-family: "myriad", "Material Icons";
  letter-spacing: 3px;
  user-select: none;

  span {
    display: none;
  }
}

.secondary-heading {
  font-size: 22px;
  font-family: "Poppins", "Roboto", Arial, Helvetica, sans-serif;
  color: var(--secondary-heading-color);
  direction: ltr;
  font-weight: 400;
  user-select: none;
}
// Top Section Ends

// Bottom Section Starts

.section-bottom {
  position: relative;
  box-shadow: 0 4px 8px 1px rgba(33, 33, 33, 0.28);
  width: calc(100% - 7.14286vw);
  margin: -85px auto auto;
  background: var(--secondary-background-color);
  border-radius: 20px 20px 0 0;
  min-height: 500px;

  &.expanded {
    width: 100%;
    border-radius: 0;
  }
}

// Bottom Section Ends

@media (max-width: 480px) {
  .primary-heading {
    font-size: 65px;
    margin: 4px;
    letter-spacing: 1px;
  }

  .secondary-heading {
    font-size: 18px;
  }

  .section-top {
    min-height: 400px;
    padding-bottom: 60px;
  }

  .section-bottom {
    margin: -80px 0 0;
    width: 100%;
    border-radius: 0;
  }
}
