<main class="home-page">
  <section class="section-top" #upperSection>
    <h1 class="primary-heading">القران الكريم</h1>
    <h2 class="secondary-heading">The Noble Quran</h2>
    <div class="toolbar">
      <nq-theme-switcher></nq-theme-switcher>
    </div>
  </section>
  <section
    class="section-bottom"
    #bottomSection
    [class.expanded]="!upperSectionVisible"
  >
    <mat-tab-group
      #matTabsGroup
      [disablePagination]="true"
      animationDuration="0ms"
      mat-align-tabs="center"
      (selectedTabChange)="handleTabChange($event)"
    >
      <mat-tab label="Surah">
        <mat-list>
          <mat-list-item
            *ngFor="let surah of surahs"
            [routerLink]="'/' + surah.index"
          >
            <div mat-list-icon>{{ surah.index }}.</div>
            <div class="primary-text" mat-line>{{ surah.englishName }}</div>
            <div class="secondary-text" mat-line>{{ surah.english }}</div>
          </mat-list-item>
        </mat-list>
      </mat-tab>
      <mat-tab label="Juz">
        <mat-list>
          <mat-list-item
            *ngFor="let juz of juzs"
            [routerLink]="['/juz', juz.index]"
            matRipple
          >
            <div mat-list-icon>{{ juz.index }}.</div>
            <div class="primary-text" mat-line>{{ juz.title }}</div>
            <div class="secondary-text" mat-line>{{ juz.subTitle }}</div>
          </mat-list-item>
        </mat-list>
      </mat-tab>
      <mat-tab label="Sajda">
        <mat-list>
          <mat-list-item
            *ngFor="let sajda of sajdas"
            [routerLink]="['/sajda', sajda.index]"
            matRipple
          >
            <div mat-list-icon>{{ sajda.index }}.</div>
            <div class="primary-text" mat-line>
              {{ surahs[sajda.surahNo].englishName }}
            </div>
            <div class="secondary-text" mat-line>Verse {{ sajda.ayahNo }}</div>
          </mat-list-item>
        </mat-list>
      </mat-tab>
    </mat-tab-group>
  </section>
</main>
