<!-- Header -->
<read-header [menuList]="menuList" [currentMenuItemIndex]="currentMenuItemIndex"></read-header>

<!-- Progress bar -->
<mat-progress-bar mode="indeterminate" *ngIf="renderingAyahs && !renderError"></mat-progress-bar>

<!-- mat card -->
<div class="mat-card" *ngIf="renderError">
  <div class="mat-card-header">
    <h2 class="mat-card-title">Oops!</h2>
    <p class="mat-card-subtitle">Something went wrong while loading this page.</p>
  </div>
  <div class="mat-card-actions">
    <button mat-stroked-button color="primary" (click)="reloadPage()">Reload Page</button>
  </div>
</div>

<!-- Container for AyahRendererComponents -->
<!-- *ngIf="idb.dbReady | async" -->
<div
  class="container"
  [class.not-ready]="!readyToShowAyahs"
  [class.page-view]="settings.renderAsPage | async"
>
  <ayah-renderer
    *ngFor="let ayahId of ayahsToRender; let ayahIndex = index"
    [ayahId]="ayahId"
    [ayahIndex]="ayahIndex"
    (onStateChange)="handleAyahStateChange($event)"
  ></ayah-renderer>

  <!-- Intersection Observer -->
  <div class="observer" [class.all-rendered]="allAyahsRendered" #observer (click)="appendAyahs()">
    <ng-container *ngIf="!allAyahsRendered && readyToShowAyahs">
      <!-- <button tabindex="-1" mat-stroked-button (click)="appendAyahs()">Load More</button> -->
      <mat-spinner diameter="30" class="secondary-spinner" title="Load more ayahs"></mat-spinner>
    </ng-container>
  </div>
</div>

<!-- Toolbar -->
<read-footer *ngIf="readyToShowAyahs" [ayahRange]="ayahRange"></read-footer>
